html {
    color: #000;
    background: #f1f3fb;
    font-size: 18px
}

@media (min-width:768px) {
    body {
        width: 750px
    }
}

@media (min-width:992px) {
    body {
        width: 970px
    }
}

@media (min-width:1200px) {
    body {
        width: 1170px
    }
}

body {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 95vh;
    min-height: 1200px
}

h1 {
    color: #000;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: .6em;
    line-height: 1.35;
    font-weight: 400
}

.container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, .25);
    padding: .75rem
}

.justify-content {
    display: flex;
    justify-content: center;
    align-items: center
}

.box {
    width: 350px;
    text-align: left;
    border: 1.5px solid #aaa
}

.bypass-cookie-list,
.remove-cookie-list {
    height: 345px;
    overflow-y: auto
}

.toolbar {
    margin: 0 35px
}

.toolbar button {
    width: 60px;
    margin: 10px 0
}

.table {
    border: 1px solid #ddd;
    width: max-content
}

.form-check-input:checked {
    background-color: #5c60f5;
    border-color: #5c60f5
}

input[type=checkbox],
input[type=radio] {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 3px;
    vertical-align: middle
}

label,
span {
    vertical-align: middle
}

svg {
    fill: white
}